.menu-and-logo {
    display: flex;
    justify-content: space-between;
    margin: 15px 3rem;
}

@media screen and (max-width: 960px) {
    .menu-and-logo {
        position: fixed;
        width: 100%;
        top: 0;
        margin: 0;
        padding: 15px 3rem;
        background-color: #fff;
        z-index: 5;
    }    
}

.logo-link {
    text-decoration: none;
    color: #000
}

.connor-headshot {
    border-radius: 100%;
}

.name-logo span:nth-child(2) {
    position: absolute;
    left: 10px;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline-block;
    text-decoration: none;
}

.menu ul li a {
    color: #000;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
}

.menu ul li a:hover {
    text-decoration-color: rgba(0, 0, 0, 1);
}

.headshot-accent-circle {
    position: absolute;
    top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #33ad33;
}

.headshot-background-circle {
    position: absolute;
    border-radius: 100%;
    z-index: -1
}

.headshot-background-circle:nth-child(2) {
    left: -16px;
    bottom: 5rem;
    width: 245px;
    height: 245px;
    background-color: rgb(245 250 255);
}

.headshot-background-circle:nth-child(3) {
    top: -14px;
    left: 5%;
    width: 250px;
    height: 250px;
    background-color: rgb(57 255 5 / 14%);
}

footer {
    text-align: center;
}

.who-am-i {
    background-color: #f5faff;
}

.skillsets h2 {
    margin-bottom: 6rem;
}

.value-prop-images {
    position: relative;
    height: 400px;
}

.value-prop-images img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.ecommerce-logos img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.value-prop-images img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 22%;
}

.value-prop-images img:nth-child(2) {
    position: absolute;
    top: 25%;
    left: 8%;
}

.value-prop-images img:nth-child(3) {
    position: absolute;
    top: 26%;
    left: 39%;
}

.value-prop-images img:nth-child(4) {
    position: absolute;
    top: 68%;
    left: 13%;
}

.value-prop-images img:nth-child(5) {
    position: absolute;
    top: 68%;
    left: 36%;
}

/* CONTACT */

#contact_form {
    display: flex;
    flex-direction: column;
}

#contact_form input {
    margin-bottom: 2rem;;
}